@import '../../styles/settings.scss';


.columnForm {
    text-align: center;
    padding: 10px;

    input {
        margin-right: 15px;
        padding: 10px;
        border-radius: 5px;
        border-style: none;
      }
}



@media (max-width: 767px){

    .columnForm {
        display: block;
    }

}